<section class="example-container">
    <header>
      <h2 class="text-white">Pregunta {{ selectedIndex + 1 }}/{{ steps.length }}</h2>
    </header>
  
    <div [ngTemplateOutlet]="selected ? selected.content : null"></div>
  
    <footer class="example-step-navigation-bar">
      <button class="btn btn-primary m-1" cdkStepperPrevious>&larr;</button>
      <button
        class="btn btn-primary m-1"
        [class.example-active]="selectedIndex === i"
        *ngFor="let step of steps; let i = index"
        (click)="selectStepByIndex(i)"
      >
        Step {{ i + 1 }}
      </button>
      <button *ngIf="selectedIndex <= size + 1" class="btn btn-primary m-1" (click)="nextStep(selectedIndex)">&rarr;</button>
    </footer>
  </section>