<div class="container">
    <div class="row">
        <div class="col-md-12 mt-2 mx-2 text-center mb-3">
            <div style="display: flex; flex-direction: column; align-items: center;" (click)="goTo()">
              <i class="bi bi-house-door-fill display-6" style="cursor: pointer;"></i>
              <small>Home</small>
            </div>
        </div>

        <div class="col-md-12 mt-2 mx-2 text-center mb-3">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <i class="bi bi-play-circle-fill display-6" style="cursor: pointer;"></i>
              <small>Courses</small>
            </div>
        </div>

        <div class="col-md-12 mt-2 mx-2 text-center mb-3">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <i class="bi bi-bookmark-fill display-6" style="cursor: pointer;"></i>
              <small>Saved</small>
            </div>
        </div>

        <div class="col-md-12 mt-2 mx-2 text-center mb-3">
            <div style="display: flex; flex-direction: column; align-items: center;">
              <i class="bi bi-person-fill display-6" style="cursor: pointer;"></i>
              <small>Profile</small>
            </div>
        </div>
    </div>
</div>
