<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 w-50">
    <h2 class="text-center mb-4">Iniciar Sesión</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="mb-3 form-group">
        <label for="username" class="form-label">Nombre de Usuario:</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="mb-3 form-group">
        <label for="password" class="form-label">Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.form.valid"
      >
        Iniciar Sesión
      </button>
    </form>
  </div>
</div>
